*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: Arial, Helvetica, sans-serif;
    
}


  



html,body{
    width: 100%;
    height: 100%;
}
#mini-circle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
}
#main{
    width: 100%;
    background-color: black;
}
#hero{
    /* background-color: black; */
    color: #fff;
    width: 100%;
    height: 100vh;
    position: relative;
}
#nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;

}
#nav a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
   

}
#nav h4{
    color: #fff;
}
#heading{
    /* color: #fff; */
    text-transform: uppercase;
    /* margin-left: 40px; */
    margin: 40px 40px;
    opacity: .7;
}
#heading h1{
    font-size: 9vw;
    line-height: 1;
   
    
}
#heading #secondh1{
    margin-left: 230px;
}
.bounding{
    width: 100%;
    /* background-color: red; */
    overflow: hidden;
}
.boundingelem{
    transform: translateY(100%);
    
}
#block-text{
    width: fit-content;
}
#block-text h5{
    text-align: right;
    font-size: 15px;
}
#smallheading{
    margin-top: 100px;
    text-transform: uppercase;
    text-align: right;
    padding-right: 30px;

}
#smallheading h5{
    margin-top: .5vw;
    font-size: 1vw;
}
#herofooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#herofooter a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
#herofooter span{
    font-size: 16px;
}
#iconset{
    display: flex;
    gap: 10px;
}
#herofooter .circle{
    height: 21px;
    width: 21px;
    background-color: #888;
    border-radius: 50%;
    position: relative;

    span{
        position: absolute;
        top: 3px;
        left: 3px;
    }
}
#second{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
    padding-top: 200px;
    padding-right: 10vw;
    padding-left: 2vw;
}
.elem{
    width: 100%;
    /* height: 100vh; */
    padding: 2vw 3vw;
    font-size: 4vw;
    border-top: 1px solid #888;
    text-transform: uppercase;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
}
.elem p{
    font-size: 1.4vw;
}
.elem img{
    position: absolute;
    z-index: 90;
    height: 140%;
    /* display: none;  here i used this but when i call this in js at 80 line number it showing error so sometimes we used opacity 0 as place of display:none*/
    opacity: 0;     

}
#about{
    display: flex;
    padding-top: 200px;
    padding-right: 10vw;
    padding-left: 2vw;
    justify-content: flex-end;
    gap: 40px;
}
#image-container{
    width: 235px;
}
#image-container img{
    width: 100%;
}
#textwrapper{
    width: 25rem;
}
#textwrapper h5{
    font-size: 1.4vw;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2;
    color: grey;
    margin: 0 0 4px;
}
#textwrapper p{
    color: #fff;
    font-size: 1.6vw;
    line-height: 1.3;
    letter-spacing: .03em;
    margin: 0 0 15px;

}
#textwrapper a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.6vw;
    padding: 6px 16px;
    border-radius: 15px;
}
#mention{
    color: #fff;
    margin-top: 10.9vw;
    padding: 2vw 3vw;
}
#mention h3{
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: 400;
    color: lightgrey;
    line-height: 1.2;
    /* margin: 0 0 -1px; */
    width: fit-content;
}
#mention h4{
    font-size: 1.2vw;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: normal;
    line-height: 1.3;
    width: fit-content;
}
#mention span{
    font-size: 16px;
}
#footer{
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 11vw 3vw 2vw 3vw;
}
#footer-left-part{
    display: flex;
    align-items: center;
    gap: 20px;

}
#footer-left-part h5{
    font-weight: 400;
    font-size: 1.6vw;
    line-height: 1.2;

}
#footer-right-part{
    display: flex;
    gap: 60px;
    align-items: center;
}
#footer-right-part h5{
    font-size: 1.4vw;
    font-weight: 400;
    line-height: 1.2;
}